#installBanner {
    padding: 10px;
    background: #eee;
    align-items: center;
    margin-top: -60px;
    transition: 0.5s;
    height: 60px;
}

#closeBanner {
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    right: 0px;
}

#btnInstall {
    border: none;
    border-radius: 0;
    outline: none;
    padding: 10px 20px;
    font-weight: bold;
    background: var(--blue);
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px;
    margin: 0px 20px;
}

#installText {
    padding: 0;
    /* text-align: center; */
    /* width: calc(100% - 100px); */
    width: auto;
}

.holder {
    max-width: 1024px;
    width: 100%;
    padding: 20px;
    margin: auto;
    position: relative;
}

#installBanner>.holder {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
}