* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, serif;
    outline: none;
}

li.item::marker {
    position: relative;
    left: 20px;
}

:root {
    --blue: #00b4eb;
    --pink: #e22b4c;
    --green: #3bc563;
    --gray: #aeaeae;
}

a {
    color: var(--blue);
    word-break: break-all;
}

.box {
    padding: 20px 5px;
    margin: auto;
}

.flex { 
    display: flex;
}

.btn {
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

div.newItemBox {
    position: fixed;
    background: #fff;
    box-shadow: 0 5px 30px 5px #ccc;
    z-index: 9;
    width: 100%;
}

div.listsPanel {
    margin-top: 40px;
}

button.addItem {
    background: var(--green);
}

button.more,
button.maximizeList,
button.minimizeList,
button.delItem, 
button.editItem,
button.delList {
    height: 40px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    font-size: 22px;
    background: transparent;
}

label.doneLabel,
button.delItem, 
button.editItem {
    transition: 0.5s;
    transform: scale(0);
    top: 0;
}

.show {
    transform: scale(1)!important;
}

button.delItem {
    right: 30px;
}

button.editItem {
    color: var(--blue);
    right: 60px;
}

label.doneLabel {
    right: 90px;
}

button.more {
    font-weight: bold;
    color: #555;
}

button.delItem,
button.delList {
    color: var(--pink);
}

button.maximizeList,
button.minimizeList {
    right: 60px;
    color: #555;
}

button.maximizeList {
    right: 30px;
    filter: drop-shadow(4px -3px 0px var(--gray));
}

button.delList {
    height: 40px;
    top: 1px;
    transform: translateY(0);
    background: transparent;
}

input.newItem {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    width: 100%;
}

div.listHolder {
    display: inline-block;
    height: auto;
    width: 99%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px 5px #ccc;
    transition: 0.5s;
    margin: 0px 0.5% 20px;
}

div.minimize {
    width: 49%;
    margin: 0px 0.5% 20px;
    height: 43px;
}

.minimize>.listTitle>h3 {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ol.list {
    margin: 0px auto 0px;
    min-height: 40px;
}

li.item {
    position: relative;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}

li.item:last-child {
    border-bottom: none;
}

span.itemText {
    display: block;
    width: calc(100% - 30px);
    min-height: 40px;
    padding: 10px;
    cursor: grab;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.5s;
}

.short {
    width: calc(100% - 120px)!important;
}

ol.list>li.item { 
    cursor: grab;
}

.checked .itemText {
    text-decoration: line-through;
    opacity: 0.2;
}

.done {
    width: 0;
    height: 0;
    opacity: 0;
}

.doneLabel {
    position: absolute;
    right: 60px;
    top: 0;
    width: 30px;
    height: 40px;
}

.checkBox {
    border: 1px solid var(--gray);
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    background: #ddd;
    font-size: 20px;
    line-height: 1;
    padding: 0;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


:checked + .checkBox {
    /* background: var(--green); */
    border: none;
    overflow: visible;
}

:checked + .checkBox:after {
    font-weight: bold;
    content: '✓';
    position: relative;
    top: -5px;
    left: 0px;
    font-size: 30px;
    color: var(--green);
}

ol.list>li.over {
    background: #ccc;
}

.grabbed {
    cursor: grabbing;
}

div.newListBtnHolder {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

button.newList {
    display: block;
    margin: auto;
    background: var(--green);
    opacity: 0.5;
    font-size: 24px;
    padding: 0px;
    margin-bottom: 5px;
    transition: 0.3s;
    line-height: 1;
    text-align: center;
    height: 30px;
    width: 30px;
}

button.newList:hover {
    opacity: 0.8;
}

p.newListText {
    text-align: center;
    font-size: 14px;
    color: #555;
}

div.listTitle {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #fcffca;
    cursor: pointer;
    height: 44px;
    color: #444;
}

div.listTitle h3 {
    width: calc(100% - 80px);
}

.selected {
    outline: 1px solid var(--blue);
}