* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, serif;
    outline: none;
}

li.item::marker {
    position: relative;
    left: 20px;
}

:root {
    --blue: #00b4eb;
    --pink: #e22b4c;
    --green: #3bc563;
    --gray: #aeaeae;
}

a {
    color: var(--blue);
    word-break: break-all;
}

.box { 
    padding: 20px;
    margin: auto;
}

.flex { 
    display: flex;
}

.btn {
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

div.newItemBox {
    position: fixed;
    background: #fff;
    box-shadow: 0 5px 30px 5px #ccc;
    z-index: 9;
    width: 100%;
}

div.listsPanel {
    margin-top: 40px;
}

button.addItem {
    background: var(--green);
    font-weight: bold;
    /* border-bottom: 1px solid #ccc; */
}

button.delItem, 
button.editItem,
button.delList {
    height: 40px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
}

button.editItem {
    background: url(../img/edit.png) center center/23px no-repeat;
    right: 30px;
}

button.delItem,
button.delList {
    background: url(../img/trash.png) center center/22px no-repeat;
}

button.delList {
    height: 40px;
    top: 0px;
    transform: translateY(0);
}

input.newItem {
    border: none;
    outline: none;
    /* border-bottom: 1px solid #ccc; */
    padding: 10px;
    font-size: 14px;
    width: 100%;
}

ol.list {
    box-shadow: 0 5px 30px 5px #ccc;
    border: 1px solid #ccc;
    margin: 0px auto 30px;
    min-height: 40px;
}

li.item {
    position: relative;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}

li.item:last-child {
    border-bottom: none;
}

span.itemText {
    display: block;
    width: calc(100% - 90px);
    min-height: 40px;
    padding: 10px;
    cursor: grab;
}

ol.list>li.item { 
    cursor: grab;
}

.checked .itemText {
    text-decoration: line-through;
    opacity: 0.2;
}

.done {
    width: 0;
    height: 0;
    opacity: 0;
}

.doneLabel {
    position: absolute;
    right: 60px;
    top: 0;
    width: 30px;
    height: 40px;
}

.checkBox {
    border: 1px solid var(--gray);
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    background: #ddd;
    font-size: 20px;
    line-height: 1;
    padding: 0;
    display: block;
    position: absolute;
    bottom: 10px;
    margin: auto;
}


:checked + .checkBox {
    /* background: var(--green); */
    border: none;
    overflow: visible;
}

:checked + .checkBox:after {
    font-weight: bold;
    content: '✓';
    position: relative;
    top: -5px;
    left: 0px;
    font-size: 30px;
    color: var(--green);
}

ol.list>li.over {
    background: #ccc;
    /* box-shadow: 0 0 5px #ccc; */
}

.grabbed {
    cursor: grabbing;
}

div.newListBtnHolder {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

button.newList {
    display: block;
    margin: auto;
    background: var(--gray);
    opacity: 0.5;
    font-weight: bold;
    font-size: 24px;
    padding: 0 0 2px;
    margin-bottom: 5px;
    transition: 0.3s;
    line-height: 1;
    text-align: center;
    height: 30px;
    width: 30px;
}

button.newList:hover {
    opacity: 0.8;
}

p.newListText {
    text-align: center;
    font-size: 14px;
}

div.listTitle {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
    background: #eee;
    cursor: pointer;
    height: 44px;
}

div.listTitle h3 {
    height: 0;
}

.selected {
    outline: 2px solid var(--blue);
}