* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, serif;
}

:root {
    --blue: #00b4eb;
    --pink: #e22b4c;
    --green: #3bc563;
    --gray: #aeaeae;
}

.box { 
    padding: 20px;
    margin: auto;
    /* border-bottom: 1px solid #ccc; */
}

.flex { 
    display: flex;
}

.btn {
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.itemText { 
    cursor: pointer;
}

.addItem {
    background: var(--green);
    font-weight: bold;
}

.delItem {
    font-size: 32px;
    color: var(--pink);
    background: transparent;
    height: 40px;
    width: 38px;
    line-height: 35px;
    padding: 0px;
    text-align: center;
    font-weight: bold;
}

.editItem {
    right: 40px;
    background: transparent;
    color: var(--blue);
    font-size: 32px;
    height: 40px;
    padding: 0;
    line-height: 30px;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    width: 100%;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    position: relative;
}

.itemText {
    display: block;
    width: calc(100% - 110px);
    min-height: 40px;
    padding: 10px;
}

.item:nth-child(odd) {
    background: #f6f6f6;
}

li button { 
    position: absolute;
    right: 0px;
    top: 0px;
}

.checked .itemText {
    text-decoration: line-through;
    opacity: 0.2;
}

.done {
    width: 0;
    height: 0;
    opacity: 0;
}

.doneLabel {
    position: absolute;
    right: 80px;
    top: -8px;
}

.checkBox {
    border: 1px solid var(--gray);
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    background: #ddd;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
    display: block;
}


:checked + .checkBox {
    /* background: var(--green); */
    border: none;
    overflow: visible;
}

:checked + .checkBox:after {
    font-weight: bold;
    content: '✓';
    position: relative;
    top: -5px;
    left: 0px;
    font-size: 30px;
    color: var(--green);
}